---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import TasksList from "../components/TasksList.astro";


---

<Layout title="ToDo List">
  <Header />
  <main>
	<TasksList/>
  </main>
  <Footer />
</Layout>
