---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import TasksList from "../components/TasksList.astro";
import TaskItem from "../components/TaskItem.astro";


---

<Layout title="ToDo List">
  <Header />
  <main>
    <Hero />
	<TasksList/>
  </main>
  <Footer />
</Layout>
