---
import "../styles/base.css";
import "../styles/shared.css";
import "@fontsource-variable/montserrat";
import "@fontsource-variable/mulish";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="ToDo List es una aplicación web para gestionar tus tareas de forma sencilla y rápida."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body
    class="bg-[#d7e4ff] dark:bg-[#27386d] transition-all duration-100 ease-in
    text-[#333333] dark:text-[#e0e0e0] max-w-[2160px] mx-auto"
  >
    <slot />
    <!-- <script type="module" src="app.js"></script> -->
  </body>
</html>
